//color palette
//https: //color.romanuke.com/tsvetovaya-palitra-3306/
//https: //color.romanuke.com/tsvetovaya-palitra-3237/

$dark-color: #000000;
$text-color: #181c1e;
$text-color-light: #ffffff; //+
$gray-color: #767474;
$gray-light-color: #ababab;
$light-color-1: #f5f0eb; //bg main
$light-color-2: #cbd4d8;
$accent1-color: #643d6e; //accent
$accent1-color-hover: #b76cca; //accent:hover
$accent2-color: #5f6e03; //accent
$accent2-color-hover: #809304; //accent:hover
$accent3-color: #f3f331; //hover
$accent4-color: #a982b4;
$accent5-color: #c7eb5e;
$accent6-color: #e47209;
$error-color: #d21414;

$border-radius: 30px;
$border-radius-big: 50px;
$border-radius-small: 10px;
